.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/')
        i.fas.fa-cube
        | Top Chrono
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        if (user)
          li(class=(title === 'News Feed') ? 'active' : undefined)
            a(href='/') News Feed
          li(class=(title === 'Philanthropy projects') ? 'active' : undefined)
            a(href='/philanthropy') Philanthropy projects
      ul.nav.navbar-nav.navbar-right
        if user
          li.dropdown(class=(title === 'Account Management') ? 'active' : undefined)
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              img(src='https://instagram.fyhu1-1.fna.fbcdn.net/vp/cab9e6402786ca212e0cd51de4df9876/5B6362D2/t51.2885-19/s150x150/26151843_167914583981364_3357260078540390400_n.jpg')
              span= user.profile.name || user.email || user.id
              i.caret
            ul.dropdown-menu
              li
                a(href='/account') My Account
              li.divider
              li
                a(href='/logout') Logout


