nav#sidebar
    #dismiss
        i.glyphicon.glyphicon-arrow-left
    .sidebar-header
        .latest_post
            h4
                span Latest post
            .latest_post_container
                #prev-button
                    i.fa.fa-chevron-up
                ul.latest_postnav
                    li
                        .media
                            a.media-left(href='pages/single_page.html')
                                img(alt='', src='images/post_img1.jpg')
                            .media-body
                                a.catg_title(href='pages/single_page.html')  Aliquam malesuada diam eget turpis varius 1
                    li
                        .media
                            a.media-left(href='pages/single_page.html')
                                img(alt='', src='images/post_img1.jpg')
                            .media-body
                                a.catg_title(href='pages/single_page.html')  Aliquam malesuada diam eget turpis varius 2
                    li
                        .media
                            a.media-left(href='pages/single_page.html')
                                img(alt='', src='images/post_img1.jpg')
                            .media-body
                                a.catg_title(href='pages/single_page.html')  Aliquam malesuada diam eget turpis varius 3
                    li
                        .media
                            a.media-left(href='pages/single_page.html')
                                img(alt='', src='images/post_img1.jpg')
                            .media-body
                                a.catg_title(href='pages/single_page.html')  Aliquam malesuada diam eget turpis varius 4
                    li
                        .media
                            a.media-left(href='pages/single_page.html')
                                img(alt='', src='images/post_img1.jpg')
                            .media-body
                                a.catg_title(href='pages/single_page.html')  Aliquam malesuada diam eget turpis varius 2
                #next-button
                    i.fa.fa-chevron-down

