nav#sidebar
    #dismiss
        i.glyphicon.glyphicon-arrow-left
    .sidebar-header
        .latest_post
            h4
                span Latest post
            .latest_post_container
                ul.latest_postnav
                    li
                        .post-container
                            .post-thumb
                                img(alt='', src='images/post_img1.jpg')
                            .post-content
                                h6.post-title Harold Parker
                                span.post-text Donated $6.00 to happy foundation
                    li
                        .post-container
                            .post-thumb
                                img(alt='', src='images/post_img1.jpg')
                            .post-content
                                h6.post-title Harold Parker
                                span.post-text Donated $6.00 to happy foundation
                    li
                        .post-container
                            .post-thumb
                                img(alt='', src='images/post_img1.jpg')
                            .post-content
                                h6.post-title Harold Parker
                                span.post-text Donated $6.00 to happy foundation
                    li
                        .post-container
                            .post-thumb
                                img(alt='', src='images/post_img1.jpg')
                            .post-content
                                h6.post-title Harold Parker
                                span.post-text Donated $6.00 to happy foundation
                    li
                        .post-container
                            .post-thumb
                                img(alt='', src='images/post_img1.jpg')
                            .post-content
                                h6.post-title Harold Parker
                                span.post-text Donated $6.00 to happy foundation
                    li
                        .post-container
                            .post-thumb
                                img(alt='', src='images/post_img1.jpg')
                            .post-content
                                h6.post-title Harold Parker
                                span.post-text Donated $6.00 to happy foundation
                    li
                        .post-container
                            .post-thumb
                                img(alt='', src='images/post_img1.jpg')
                            .post-content
                                h6.post-title Harold Parker
                                span.post-text Donated $6.00 to happy foundation
                    li
                        .post-container
                            .post-thumb
                                img(alt='', src='images/post_img1.jpg')
                            .post-content
                                h6.post-title Harold Parker
                                span.post-text Donated $6.00 to happy foundation
                    li
                        .post-container
                            .post-thumb
                                img(alt='', src='images/post_img1.jpg')
                            .post-content
                                h6.post-title Harold Parker
                                span.post-text Donated $6.00 to happy foundation
                    li
                        .post-container
                            .post-thumb
                                img(alt='', src='images/post_img1.jpg')
                            .post-content
                                h6.post-title Harold Parker
                                span.post-text Donated $6.00 to happy foundation
                    li
                        .post-container
                            .post-thumb
                                img(alt='', src='images/post_img1.jpg')
                            .post-content
                                h6.post-title Harold Parker
                                span.post-text Donated $6.00 to happy foundation
                    li
                        .post-container
                            .post-thumb
                                img(alt='', src='images/post_img1.jpg')
                            .post-content
                                h6.post-title Harold Parker
                                span.post-text Donated $6.00 to happy foundation
                    li
                        .post-container
                            .post-thumb
                                img(alt='', src='images/post_img1.jpg')
                            .post-content
                                h6.post-title Harold Parker
                                span.post-text Donated $6.00 to happy foundation
                    li
                        .post-container
                            .post-thumb
                                img(alt='', src='images/post_img1.jpg')
                            .post-content
                                h6.post-title Harold Parker
                                span.post-text Donated $6.00 to happy foundation
                    li
                        .post-container
                            .post-thumb
                                img(alt='', src='images/post_img1.jpg')
                            .post-content
                                h6.post-title Harold Parker
                                span.post-text Donated $6.00 to happy foundation