div.col-lg-3.col-md-6
    div.card-box.widget-box-two.widget-two-info
        i.mdi.mdi-chart-areaspline.widget-two-icon
        .wigdet-two-content.text-white
            p.m-0.text-uppercase.font-600.font-secondary.text-overflow(title=name) organization.name
            h2.text-white
                span(data-plugin='counterup') 34578
                small
                    i.mdi.mdi-arrow-up.text-success
            p.m-0
                b Last:
                span 304k