extends layout

block content
  if !user
    .container-fluid
      .page-header
        h3 Sign in
      form.form-horizontal.formSubmitLogin(action="/login" method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        .form-group
          .col-sm-offset-3.col-sm-7
            a.btn.btn-block.btn-facebook.btn-social(href='/auth/facebook')
              i.fab.fa-facebook-f.fa-sm
              | Sign in with Facebook
            a.btn.btn-block.btn-twitter.btn-social(href='/auth/twitter')
              i.fab.fa-twitter.fa-sm
              | Sign in with Twitter
            a.btn.btn-block.btn-google.btn-social.googleSubmit(href='#')
              i.fab.fa-google-plus-g.fa-xs
              | Sign in with Google
            a.btn.btn-block.btn-github.btn-social(href='#')
              i.fab.fa-github.fa-sm
              | Sign in with GitHub
            a.btn.btn-block.btn-linkedin.btn-social(href='/auth/linkedin')
              i.fab.fa-linkedin-in.fa-sm
              | Sign in with LinkedIn
            a.btn.btn-block.btn-instagram.btn-social(href='/auth/instagram')
              i.fab.fa-instagram.fa-sm
              | Sign in with Instagram
        .form-group
          label.col-sm-3.control-label(for='email') Email
          .col-sm-7
            input.form-control(type='email', name='email', id='email_login', placeholder='Email')
        .form-group
          label.col-sm-3.control-label(for='password') Password
          .col-sm-7
            input.form-control(type='password', name='password', id='password_login', placeholder='Password')
        .form-group
          .col-sm-offset-3.col-sm-7
            button.col-sm-3.btn.btn-primary(type='submit')
              i.far.fa-user.fa-sm
              | Login
            a.btn.btn-link(href='/forgot') Forgot your password?


      .page-header
        h3 Sign up
      form.form-horizontal(id='signup-form' action="/signup"  method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        .form-group
          label.col-sm-3.control-label(for='email') Email
          .col-sm-7
            input.form-control(type='email', name='email', id='email_signup', placeholder='Email', autofocus, required)
        .form-group
          label.col-sm-3.control-label(for='password') Password
          .col-sm-7
            input.form-control(type='password', name='password', id='password_signup', placeholder='Password', required)
        .form-group
          label.col-sm-3.control-label(for='confirmPassword') Confirm Password
          .col-sm-7
            input.form-control(type='password', name='confirmPassword', id='confirmPassword', placeholder='Confirm Password', required)
        .form-group
          .col-sm-offset-3.col-sm-7
            button.btn.btn-success(type='submit')
              i.fas.fa-user-plus.fa-sm
              | Signup
  if (user)
    .container-fluid
      .page-header
        h3#timeline New Feeds
      ul.timeline
        li
          .timeline-badge
            i.glyphicon.glyphicon-check
          .timeline-panel
            .timeline-heading
              h4.timeline-title Fondation Centre de réadaptation Estrie
              p
                small.text-muted
                  i.glyphicon.glyphicon-time
                  |  11 hours ago via Twitter
            .timeline-body
              p
                | Le Grand Salon des Arts de Sherbrooke, c'est 45 artistes professionnels et émergents en arts visuels qui se donnent rendez-vous début novembre pour la plus grande exposition du genre en Estrie.
                | L’événement se déroule dans la salle d’exposition de Sherbrooke Toyota et 20 % des profits des ventes d’œuvres sont versés à la Fondation CRE.
                | Une présentation de Sherbrooke Toyota, de Sept/24 communications, et de Céline Maheu, artiste peintre et de la Fondation Centre de réadaptation Estrie.
        li.timeline-inverted
          .timeline-badge.warning
            i.glyphicon.glyphicon-credit-card
          .timeline-panel
            .timeline-heading
              h4.timeline-title Loto-voyage
            .timeline-body
              p
                | Loto-voyage, en collaboration avec d’autres fondations liées au CIUSSS de l’Estrie - CHUS
                | Campagne annuelle Donnez l’espoir. Cette campagne permet d'amasser des fonds pour offrir une aide supplémentaire directe aux usagers et aux services de l’établissement.
                | Voyez comment les services spécialisés en réadaptation physique ont pu donner l’espoir à Florane et Mélissa, Gabrielle, Samuel ainsi qu'à Mélissa.
        li
          .timeline-badge.danger
            i.glyphicon.glyphicon-credit-card
          .timeline-panel
            .timeline-heading
              h4.timeline-title Julie Paquin
            .timeline-body
              p
                | Julie Paquin
                | | Fière d’avoir pu participer une fois de plus avec mes collègues TD à la 9e édition du souper gastronomique au profit de la fondation du CHUS de Sherbrooke.
                | Merci à tous les organisateurs de l’événement qui a rapporté plus de 300,000$!! Un merci particulier à mes partenaires et amis de leur implication dans cet organisme de ma région
                | #sherbygirlforever #homesweethome #oneTD #oneTeam #oneFamily
        li.timeline-inverted
          .timeline-panel
            .timeline-heading
              h4.timeline-title Le Défi Adapte ta course
            .timeline-body
              p
                | Le Défi Adapte ta course, chapeautée par Courir en Estrie, permet d’amasser des fonds destinés à l’achat d’équipements facilitant la réadaptation.
                | Pour l'édition du 18 septembre 2016, c'est l'achat de matériel spécialisé qui est visé pour que les usagers enfants et adolescents fassent de l’activité physique tout au long de l’année.
                | Suivez le Défi Adapte ta course sur Facebook.
        li
          .timeline-badge.info
            i.glyphicon.glyphicon-floppy-disk
          .timeline-panel
            .timeline-heading
              h4.timeline-title Fondation Du Chus Sherbrooke.
            .timeline-body
              p
                | C'est le tirage mensuel du tirage-voyage des médecins et employés du CHUS. C'est la première pige officielle pour notre nouveau DG André Larocque! \n
                |  Notre collègue, Isabelle Caron, est responsable de cette activité et elle dit que c'est ce qu'elle préfère de son job: appeler les gagnants pour leur annoncer la bonne nouvelle!
              hr
              .btn-group
                button.btn.btn-primary.btn-sm.dropdown-toggle(type="button" data-toggle="dropdown")
                  i.glyphicon.glyphicon-cog
                  span.caret
                ul.dropdown-menu(role="menu")
                  li
                    a(href="#") Action
                  li
                    a(href="#") Another action
                  li
                    a(href="#") Something else here
                  li.divider
                  li
                    a(href="#") Separated link
        li
          .timeline-panel
            .timeline-heading
              h4.timeline-title Projets novateurs
            .timeline-body
              p
                | La Fondation CRE est fière de soutenir divers projets novateurs qui se démarquent dans le réseau de la santé et qui permettent à des personnes ayant une déficience motrice, visuelle, auditive ou du langage de profiter d’un milieu de réadaptation chaleureux, de se réaliser et de vivre pleinement leur vie. Parmi ces réalisations, il y a :
                | Jardins thérapeutiques
                | Murale interactive enfant
                | Salle ludique
                | Salle Inukshuk
                | Volière
                | Maison La Conquête
        li.timeline-inverted
          .timeline-badge.success
            i.glyphicon.glyphicon-thumbs-up
          .timeline-panel
            .timeline-heading
              h4.timeline-title Soutien aux individus, organismes, programmes
            .timeline-body
              p
                | Soutien à des usagers du CIUSSS de l’Estrie – CHUS recevant des services spécialisés en réadaptation physique afin qu’ils se procurent certaines aides techniques dont les coûts ne sont pas couverts par la RAMQ ou les assurances privées.
                | Achat d’un verticalisateur pour un usager et de vélos adaptés pour une clientèle adulte présentant des besoins particuliers.
                | Prêts d’équipement tel que des sièges de positionnement et des iPad par le biais du Fonds Nancy-Shields dédié aux enfants.
                | Achat de postes de télévision à l’unité de réadaptation fonctionnelle intensive (URFI).
                | Acquisition d’un voilier adapté au coût de 30 000 $, et investissement de 5000 $ au Club nautique du Petit lac Magog pour faciliter l’accessibilité à la voile adaptée.
