doctype html
html
  include partials/head


  body
    include partials/header
    div.wrapper
      if user
        include partials/leftSideBar
      div#content(style='width:100%')
        block content
    if user
      include partials/donateModal
    include partials/footJS
