doctype html
html
  include partials/head


  body
    include partials/header
    div.wrapper
      include partials/leftSideBar
      include partials/flash
      div#content
        block content
    include partials/donateModal
    include partials/footJS
